{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% load static %}

{% block content %}

	<!-- prs title wrapper Start -->
	<div class="prs_title_main_sec_wrapper">
		<div class="prs_title_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_title_heading_wrapper">
						<h2>about us</h2>
						<ul>
							<li><a href="#">Home</a>
							</li>
							<li>&nbsp;&nbsp; >&nbsp;&nbsp; About us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs title wrapper End -->

	<!-- prs about presenter wrapper Start -->
	<div class="prs_about_presenter_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_heading_section_wrapper">
						<h2>About Presenter</h2>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="prs_about_pre_left_sec_wrapper">
						<div class="prs_ap_left_img_wrapper">
							<img src="{% static 'images/content/about/ap1.jpg' %}" alt="about_img">
						</div>
						<div class="prs_ap_left_img_cont_wrapper">
							<h2>about our journey</h2>
							<p>
								Break it down to small modules.
								Draw the flow graph of each module.
								Decide on the priority and dependency among the various module
								Start coding the modules with high dependency as you cannot perform
								basic tests without these modules.
								Apart from being a python developer my best skill is eating hot falafels.
								I am the undisputed king of the hot falafel challenge.
								<br>
								<br>
								IF YOU LOVE HOT FALAFEL AS MUCH AS I DO.<br>
								Love hot falafel as much as I do? Let's talk
								about how awesome they are! We can even code
								while we eat hot falafel!
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="prs_about_pre_right_sec_wrapper">
						<div class="prs_about_pre_right_slider_sec_wrapper">
							<div class="owl-carousel owl-theme">
								<div class="item">
									<img src="{% static 'images/content/about/ap2.jpg' %}" alt="about_img">
								</div>
								<div class="item">
									<img src="{% static 'images/content/about/ap2.jpg' %}" alt="about_img">
								</div>
								<div class="item">
									<img src="{% static 'images/content/about/ap2.jpg' %}" alt="about_img">
								</div>
							</div>
						</div>
						<div class="prs_about_pre_right_slider_sec_cont_wrapper">
							<h2>Who we are</h2>
							<p>
								My name is FAroogh Oghba. It's been a while since I started Python
								programming, and I love it. I made this resume for the Django
								Maktabkhooneh course. I love coding in python because it makes me feel
								powerful, I'm still learning and enjoy learning python.

								<br>
								<br>
								PYTHON FOR THE WIN!
							</p>

							<ul>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Movie Rating Website</li>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Movie Pro</li>
							</ul>
							<ul class="prs_ap_ul_last">
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Python - Django</li>
								<li><i class="fa fa-caret-right"></i> &nbsp;&nbsp; Bootstrap</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs about presenter wrapper End -->

{% endblock content %}
