
<div class="list-group-horizontal btn-group" id="likesarea{{ post.id }}" role="group">

    <button class="like_button_before"
            hx-post="{% url 'blog:like_post' post_id=post.id %}"
            hx-target="#likesarea{{ post.id }}"
            hx-swap="outerHTML">

        {% if request.user in post.like.all %}
           <span class="iconify" data-icon="fontisto:like" style="color: red;"></span>
            &nbsp;&nbsp;{{ post.total_like }} &nbsp;Like{{ post.total_like|pluralize }}
        {% else %}
            <span class="iconify" data-icon="uiw:like-o"></span>
            &nbsp;&nbsp;{{ post.total_like }} &nbsp;Like{{ post.total_like|pluralize }}
        {% endif %}

    </button>

</div>

<div class="modal fade" id="LikeModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title"><i class="fa fa-warning"></i> &nbsp;&nbsp;WARNING</h5>
      </div>
      <div class="modal-body">
        <h4>You must first log in !!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% if not request.user.is_authenticated %}
<script>
    $('#LikeModal').modal('show')
</script>
{% endif %}
