
{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% load static %}

{% block content %}

	<!-- prs title wrapper Start -->
	<div class="prs_title_main_sec_wrapper">
		<div class="prs_title_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_title_heading_wrapper">
						<h2>{{ post.title }}</h2>
						<ul>
							<li><a href="{% url 'website:home_page' %}">Home</a>
							</li>
							<li>&nbsp;&nbsp; >&nbsp;&nbsp; Blog</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs title wrapper End -->
	
	<!-- hs sidebar Start -->
	<div class="hs_blog_categories_main_wrapper hs_blog_categories_main_wrapper2">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<div class="hs_blog_left_sidebar_main_wrapper">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="hs_blog_box1_main_wrapper">
									<div class="hs_blog_box1_img_wrapper">
										<img src="{{ post.image.url }}" alt="blog_img">
									</div>
									<div class="hs_blog_box1_cont_main_wrapper">
										<div class="hs_blog_cont_heading_wrapper">
											<ul>
												<li>{{ post.published_date|date:'F d, Y' }}</li>
												<li>by {{ post.author|title }}</li>
											</ul>
											<h2>{{ post.title }}</h2>
											<p>{{ post.content }}</p>
										</div>
									</div>
									<div class="hs_blog_box1_bottom_cont_main_wrapper">
										<div class="hs_blog_box1_bottom_cont_left">
											<ul>
												<li><i class="fa fa-thumbs-up"></i> &nbsp;&nbsp;<a href="#">1244 Likes</a>
												</li>
												<li><i class="fa fa-comments"></i> &nbsp;&nbsp;<a href="#">256 Comments</a>
												</li>
												<li><i class="fa fa-tags"></i> &nbsp;&nbsp;<a href="#">Presenter Movie</a>
												</li>
											</ul>
										</div>
										<div class="hs_blog_box1_bottom_cont_right">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-youtube-play"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-twitter"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="prs_bs_about_admin_main_wrapper">
									<div class="prs_bs_about_img_wrapper">
										<img src="{% static 'images/content/blog_category/bs5.jpg' %}" alt="blog_img">
									</div>
									<div class="prs_bs_about_img_cont_wrapper">
										<h4>About Admin : Sandy</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam,</p>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="prs_bs_comment_heading_wrapper">
									<h2>Comments</h2>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="hs_rs_comment_main_wrapper hs_rs_comment_main_wrapper2">
									<div class="hs_rs_comment_img_wrapper">
										<img src="{% static 'images/content/blog_category/comm_img1.jpg' %}" alt="comment_img">
									</div>
									<div class="hs_rs_comment_img_cont_wrapper hs_rs_blog_single_comment_img_cont_wrapper">
										<h2>Joahn Doe<br> <span>Jan 2 , 2022 - Friday</span> <a href="#"> - Reply</a></h2>
										<p>The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally named Vishal Devgan !</p>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="hs_rs_comment_main_wrapper">
									<div class="hs_rs_comment_img_wrapper">
										<img src="{% static 'images/content/blog_category/comm_img2.jpg' %}" alt="comment_img">
									</div>
									<div class="hs_rs_comment_img_cont_wrapper hs_rs_blog_single_comment_img_cont_wrapper">
										<h2>Joahn Doe<br> <span>Jan 2 , 2022 - Friday</span> <a href="#"> - Reply</a></h2>
										<p>The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally named Vishal Devgan !</p>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="hs_rs_comment_main_wrapper">
									<div class="hs_rs_comment_img_wrapper">
										<img src="{% static 'images/content/blog_category/comm_img3.jpg' %}" alt="comment_img">
									</div>
									<div class="hs_rs_comment_img_cont_wrapper hs_rs_blog_single_comment_img_cont_wrapper">
										<h2>Joahn Doe<br> <span>Jan 2 , 2022 - Friday</span> <a href="#"> - Reply</a></h2>
										<p>The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally named Vishal Devgan !</p>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="hs_rs_comment_main_wrapper">
									<div class="hs_rs_comment_img_wrapper">
										<img src="{% static 'images/content/blog_category/comm_img1.jpg' %}" alt="comment_img">
									</div>
									<div class="hs_rs_comment_img_cont_wrapper hs_rs_blog_single_comment_img_cont_wrapper">
										<h2>Joahn Doe<br> <span>Jan 2 , 2022 - Friday</span> <a href="#"> - Reply</a></h2>
										<p>The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally named Vishal Devgan !</p>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="prs_bs_comment_heading_wrapper prs_bs_leave_comment_heading_wrapper">
									<h2>LEave a comment</h2>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="hs_kd_six_sec_input_wrapper">
									<input type="text" placeholder="Name">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="hs_kd_six_sec_input_wrapper">
									<input type="email" placeholder="Email">
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="hs_kd_six_sec_input_wrapper">
									<textarea rows="6" placeholder="Comments"></textarea>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="hs_kd_six_sec_btn">
									<ul>
										<li><a href="#">Send a Comment</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					{% include 'blog/blog_sidebar.html' %}
				</div>
			</div>
		</div>
	</div>
	<!-- hs sidebar End -->

{% endblock content %}
