
{% load static %}
{% load blog_tags %}

<div class="hs_blog_right_sidebar_main_wrapper">
    {% include 'blog/blog_search_post.html' %}

    <div class="prs_bc_right_about_wrapper">
        <img src="{% static 'images/content/blog_category/side_img1.jpg' %}" alt="side_img">
        <h2>About Presenter</h2>
        <p>Lorem ipsum dolor sit amet ue adipisicing elit, sed do eiuodor incididunt ut part.</p>
        <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
    </div>

    {% blog_categories_count %}

    {% blog_recent_news %}

    {% archives %}

    {% include 'blog/blog_newsletter.html' %}

</div>
