

<!DOCTYPE html>

{% load static %}
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--[endif]-->

<head>
	<title>{% block title %}Reset Password{% endblock %}</title>
	{% include 'head.html' %}
</head>

<body>

	<!-- preloader Start -->
    <div id="preloader">
        <div id="status">
            <img src="{% static 'images/header/horoscope.gif' %}" id="preloader_image" alt="loader">
        </div>
    </div>


    <!-- prs navigation Start -->
    <div class="prs_navigation_main_wrapper">
        <div class="container-fluid">
            <div id="search_open" class="gc_search_box">
                <input type="text" placeholder="Search here">
                <button><i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
            <div class="prs_navi_left_main_wrapper">
                <div class="prs_logo_main_wrapper">
                    <a href="{% url 'website:home_page' %}">
                        <img src="{% static 'images/header/logo.png' %}" alt="logo" />
                    </a>
                </div>
                <div class="prs_menu_main_wrapper">
                    <nav class="navbar navbar-default">
                        <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                            <button class="dl-trigger">
                                <img src="{% static 'images/header/bars.png' %}" alt="bar_png">
                            </button>
                            <div class="prs_mobail_searchbar_wrapper" id="search_button">	<i class="fa fa-search"></i>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="dl-menu">
                                <li class="parent">
                                    <a href="{% url 'website:home_page' %}">Home</a>
                                </li>
                                <li class="parent">
                                    <a href="{% url 'movie:list' %}">movie</a>
    <!--                                <ul class="lg-submenu">-->
    <!--                                    <li><i class="fa fa-film"></i><a href="index.html">All Movies</a></li>-->
    <!--                                    <li><i class="fa fa-film"></i><a href="index2.html">Fan Favorite movies</a></li>-->
    <!--                                    <li><i class="fa fa-film"></i><a href="index3.html">Upcoming Movies</a></li>-->
    <!--                                    <li><i class="fa fa-film"></i><a href="index4.html">In Theater Movies</a></li>-->
    <!--                                </ul>-->
                                </li>

                                <li class="parent">
                                    <a href="{% url 'blog:list' %}">blog</a>
                                </li>
                                <li class="parent">
                                    <a href="{% url 'website:about' %}">about</a>
                                </li>
                                <li class="parent">
                                    <a href="{% url 'website:contact' %}">contact</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /dl-menuwrapper -->
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="prs_title_main_sec_wrapper">
		<div class="prs_title_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_title_heading_wrapper">
						<h2>You can reset your password here</h2>
                        <ul>
							<li><a href="{% url 'website:home_page' %}">Home</a>
							</li>
							<li>&nbsp;&nbsp; >&nbsp;&nbsp; reset password</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


    <div class="text-center">
        <div class="form-gap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4" style="margin-top: 50px;">
                    <form id="register-form"
                          role="form"
                          autocomplete="off"
                          class="form"
                          method="post">

                        {% csrf_token %}

                        <div class="st_pop_form_heading_wrapper float_left">
                            <h3>Log in</h3>
                        </div>

                            <div class="st_profile_input st_profile__pass_input_pop float_left">
                                <input type='password'
                                       name="new_password1"
                                       autocomplete="new-password"
                                       required
                                       id="id_new_password1"
                                       placeholder="new password"
                                       class="form-control">
                            </div>

                            <div class="st_profile__pass_input st_profile__pass_input_pop float_left">
                                <input type='password'
                                       name="new_password2"
                                       autocomplete="new-password"
                                       required
                                       id="id_new_password2"
                                       placeholder="new password confirm"
                                       class="form-control">
                            </div>

                        <div class="st_form_pop_login_btn float_left">
                            <button name="recover-submit"
                                    class="st_form_pop_login_btn float_left"
                                    type="submit">
                                Reset Password
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

	{% include 'scripts.html' %}
</body>

</html>
