{% extends 'base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% load static %}
{% load movie_tags %}


{% block content %}

<div class="hs_blog_categories_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="hs_blog_left_sidebar_main_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">

                                  <div class="text-center">

                                      <h3><i class="fa fa-lock fa-4x"></i></h3>
                                      <br>
                                      <h2 class="text-center">Your Password Reset Successfully</h2>
                                      <br>
                                      <p>You can log in here.</p>
                                      <br>
                                      <a class="btn btn-lg btn-danger" href="{% url 'website:home_page' %}" type="submit">log in</a>


                                  </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}