{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% load static %}
{% load movie_tags %}


{% block content %}

<div class="hs_blog_categories_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="hs_blog_left_sidebar_main_wrapper">
                    <div class="row">
                        {% for search in all_pages %}
                            {% if search.genre.all %}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="prs_mcc_list_movie_main_wrapper hs_blog_box2_main_wrapper_bottom">
                                        <div class="prs_mcc_list_movie_img_wrapper">
                                            <img src="{{ search.poster.url }}" alt="categoty_img">
                                        </div>
                                        <div class="prs_mcc_list_movie_img_cont_wrapper">

                                            <div class="prs_mcc_list_left_cont_wrapper">
                                                <h2>
                                                    <a href="{% url 'movie:single' movie_slug=search.slug %}">
                                                        {{ search.title|truncatewords:5 }}
                                                    </a>
                                                </h2>

                                                <p>
                                                    {% for genre in search.genre.all %}
                                                        {{ genre.title|title }} {% if not forloop.last %},{% endif %}
                                                    {% endfor %}
                                                    &nbsp;&nbsp;
                                                    {% if search.release_date|upcoming %}
                                                        Not Released <i class="fa fa-star"></i>
                                                    {% else %}
                                                        {% for rate in search.rating.all %}
                                                            {{ rate.average|floatformat:"1" }}
                                                            <i class="fa fa-star"></i>
                                                        {% endfor %}
                                                    {% endif %}
                                                </p>

                                                <h4>
                                                    Movie Director -
                                                    {% for director in search|director %}
                                                        {{ director }}
                                                        {% if not forloop.last %},{% endif %}
                                                    {% endfor %}
                                                </h4>
                                            </div>

                                            <div class="prs_mcc_list_right_cont_wrapper">
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                            </div>

                                            <div class="prs_mcc_list_bottom_cont_wrapper">
                                                <p>{{ search.synopsis|truncatewords:25 }}</p>
                                                <ul>
                                                    <li><a class="test-popup-link button" href="{{ search.trailer }}">View Trailer</a>
                                                    </li>
                                                    <li><a href="{% url 'movie:single' movie_slug=search.slug %}">View Details</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="hs_blog_box1_main_wrapper hs_blog_box2_main_wrapper_bottom">
                                        <div class="hs_blog_box1_img_wrapper">
                                            <img src="{{ search.image.url }}" alt="blog_img">
                                        </div>
                                        <div class="hs_blog_box1_cont_main_wrapper">
                                            <div class="hs_blog_cont_heading_wrapper">
                                                <ul>
                                                    <li>{{ search.published_date|date:'F d, Y' }}</li>
                                                    <li>by {{ search.author|title }}</li>
                                                </ul>
                                                <h2>{{ search.title }}</h2>
                                                <p>{{ search.content|safe|truncatewords:50 }}</p>
                                                <h5><a href="{% url 'blog:single' post_slug=search.slug %}">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                            </div>
                                        </div>
                                        <div class="hs_blog_box1_bottom_cont_main_wrapper">
                                            <div class="hs_blog_box1_bottom_cont_left">
                                                <ul>

                                                    <li>
                                                        {% include 'blog/blog_like_post.html' with post=search %}
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-comments"></i> &nbsp;&nbsp;
                                                        {{ search.total_comment }} Comment{{ search.total_comment|pluralize }}
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-newspaper-o"></i> &nbsp;&nbsp;
                                                        {% for cat in search.categories.all %}
                                                            <a href="{% url 'blog:category' cat_slug=cat.slug %}">
                                                                {{ cat }}
                                                            </a>
                                                            {% if not forloop.last %}
                                                                ,
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>

											    </ul>
                                            </div>
                                            <div class="hs_blog_box1_bottom_cont_right">
                                                <ul>
                                                    <li>
                                                        <a href="https://github.com/FArooghOghba">
                                                            <i class="fa fa-github"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/farough-oghba/">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/FArough_Oghba">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
											    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        {% empty %}
                            <h4>Sorry we don't have it in out database.</h4>
                        {% endfor %}

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% include 'pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
