<!DOCTYPE html>

{% load movie_tags %}
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--[endif]-->

<head>
	<title>{% block title %}{% endblock %}</title>
	{% include 'head.html' %}
</head>

<body>

	{% include 'header.html' %}

	<script>
		<!-- In html add this to script tag -->
		{% if messages %}
			document.addEventListener("DOMContentLoaded", function(event) {
				toastr.options = { "closeButton": true, "debug": false, "newestOnTop": true,
					"progressBar": false, "positionClass": "toast-top-right", "preventDuplicates": true,
					"onclick": null, "showDuration": "300", "hideDuration": "1000", "timeOut": "5000",
					"extendedTimeOut": "1000", "showEasing": "swing", "hideEasing": "linear",
					"showMethod": "fadeIn", "hideMethod": "fadeOut" };
				{% autoescape off %}
					{% for msg in messages %}
						toastr.{{ msg.level_tag }}("{{ msg }}");
					{% endfor %}
				{% endautoescape %}
			});
		{% endif %}
	</script>

	{% block content %}
    {% endblock content%}

	{% movie_in_theater_slider %}
	{% include 'footer.html' %}
	{% include 'scripts.html' %}
</body>

</html>
