
<div class="modal fade st_pop_form_wrapper" id="myModa2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="st_pop_form_heading_wrapper st_pop_form_heading_wrapper_fpass float_left">
                <h3>Forgot Password</h3>
                <p>We can help! All you need to do is enter your email ID and follow the instructions!</p>
            </div>
            <div class="st_profile_input float_left">
                <label>Email Address</label>
                <input type="text">
            </div>
            <div class="st_form_pop_fpass_btn float_left">	<a href="#">Verify</a>
            </div>
        </div>
    </div>
</div>
