{% load static %}

<!-- preloader Start -->
<div id="preloader">
    <div id="status">
        <img src="{% static 'images/header/horoscope.gif' %}" id="preloader_image" alt="loader">
    </div>
</div>


<!-- prs navigation Start -->
<div class="prs_navigation_main_wrapper">
    <div class="container-fluid">
        <div id="search_open" class="gc_search_box">
            <input type="text" placeholder="Search here">
            <button><i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="prs_navi_left_main_wrapper">
            <div class="prs_logo_main_wrapper">
                <a href="{% url 'website:home_page' %}">
                    <img src="{% static 'images/header/logo.png' %}" alt="logo" />
                </a>
            </div>
            <div class="prs_menu_main_wrapper">
                <nav class="navbar navbar-default">
                    <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                        <button class="dl-trigger">
                            <img src="{% static 'images/header/bars.png' %}" alt="bar_png">
                        </button>
                        <div class="prs_mobail_searchbar_wrapper" id="search_button">	<i class="fa fa-search"></i>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="dl-menu">
                            <li class="parent">
                                <a href="{% url 'website:home_page' %}">Home</a>
                            </li>
                            <li class="parent">
                                <a href="{% url 'movie:list' %}">movie</a>
<!--                                <ul class="lg-submenu">-->
<!--                                    <li><i class="fa fa-film"></i><a href="index.html">All Movies</a></li>-->
<!--                                    <li><i class="fa fa-film"></i><a href="index2.html">Fan Favorite movies</a></li>-->
<!--                                    <li><i class="fa fa-film"></i><a href="index3.html">Upcoming Movies</a></li>-->
<!--                                    <li><i class="fa fa-film"></i><a href="index4.html">In Theater Movies</a></li>-->
<!--                                </ul>-->
                            </li>

                            <li class="parent">
                                <a href="{% url 'blog:list' %}">blog</a>
                            </li>
                            <li class="parent">
                                <a href="{% url 'website:about' %}">about</a>
                            </li>
                            <li class="parent">
                                <a href="{% url 'website:contact' %}">contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /dl-menuwrapper -->
                </nav>
            </div>
        </div>
        <div class="prs_navi_right_main_wrapper">
<!--            <div class="prs_slidebar_wrapper">-->
<!--                <button class="second-nav-toggler" type="button">-->
<!--                    <img src="{% static 'images/header/bars.png' %}" alt="bar_png">-->
<!--                </button>-->
<!--            </div>-->
            {% if request.user.is_authenticated %}
                <div class="prs_top_login_btn_wrapper">
                    <h5 style="color:white; margin-top:16px; font-size:17px">Logged in as {{ request.user.username }}</h5>
                </div>
                <div class="prs_top_login_btn_wrapper">
                    <div class="prs_animate_btn1">
                        <ul>
                            <li>
                                <a href="{% url 'account_logout' %}" class="button button--tamaya" data-text="log out">
                                    <span>log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="prs_top_login_btn_wrapper">
                    <div class="prs_animate_btn1">
                        <ul>
                            <li>
                                <a href="#" class="button button--tamaya" data-text="sign up" data-toggle="modal" data-target="#myModa3">
                                    <span>sign up</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="prs_top_login_btn_wrapper">
                <div class="prs_animate_btn1">
                    <ul>
                        <li>
                            <a href="#" class="button button--tamaya" data-text="log in" data-toggle="modal" data-target="#myModal">
                                <span>Log in</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="product-heading">
                <div class="con">
                    <form action="{% url 'website:search' %}" method="get">
                        <select name="category">
                            <option value="all">All Categories</option>
                            <option value="movie">Movie</option>
                            <option value="blog">Blog</option>

                        </select>
                        <input type="text" name="search" placeholder="Search Movie">
                        <button type="submit">
                            <i class="flaticon-tool"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
	</div>
	{% include 'slidebar_wrapper.html' %}
</div>

<!-- prs navigation End -->

<!-- st login wrapper Start -->
    {% include 'account/login.html' %}
	<div class="modal fade st_pop_form_wrapper" id="myModa2" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="st_pop_form_heading_wrapper st_pop_form_heading_wrapper_fpass float_left">
					<h3>Forgot Password</h3>
					<p>We can help! All you need to do is enter your email ID and follow the instructions!</p>
				</div>
				<div class="st_profile_input float_left">
					<label>Email Address</label>
					<input type="text">
				</div>
				<div class="st_form_pop_fpass_btn float_left">	<a href="#">Verify</a>
				</div>
			</div>
		</div>
	</div>
    {% include 'signup.html' %}
<!-- st login wrapper End -->
