{% extends 'base.html' %}
{% block title %}Page 404{% endblock %}
{% load static %}


{% block content %}

<div class="hs_blog_categories_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="hs_blog_left_sidebar_main_wrapper">
                    <div class="row">

                        <h1 class="">404 Error.</h1>
                        <br>
                        <h5>
                          Oooooops! Looks like nothing was found at this location.
                          Maybe try click on the top menu
                          or try a search?
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
