
<div class="pager_wrapper gc_blog_pagination">
    <ul class="pagination">
        {% if all_pages.has_previous %}
            <li>
                <a href="?page={{ all_pages.previous_page_number }}"><i class="flaticon-left-arrow"></i></a>
            </li>
        {% endif %}

        {% for page_num in all_pages.paginator.page_range %}
            {% if all_pages.number == page_num %}
                <li>
                    <a style="border-color:black; background-color:black; color:white;" href="?page={{ page_num }}">
                        {{ page_num }}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if all_pages.has_next %}
            <li>
                <a href="?page={{ all_pages.next_page_number }}">
                    <i class="flaticon-right-arrow"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
