{% extends 'base.html' %}
{% block title %}Movies{% endblock %}
{% load static %}
{% load ratings %}
{% load movie_tags %}

{% block content %}

	<!-- prs title wrapper Start -->
	<div class="prs_title_main_sec_wrapper">
		<div class="prs_title_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_title_heading_wrapper">
						<h2>Movie Category</h2>
						<ul>
							<li><a href="{% url 'website:home_page' %}">Home</a>
							</li>
							<li>&nbsp;&nbsp; >&nbsp;&nbsp; Movie Category</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs title wrapper End -->

	<!-- prs mc slider wrapper Start -->
	<div class="prs_mc_slider_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_heading_section_wrapper">
						<h2>Comming soon</h2>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="prs_mc_slider_wrapper">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<img src="{% static 'images/content/movie_category/slider_img1.jpg' %}" alt="about_img">
							</div>
							<div class="item">
								<img src="{% static 'images/content/movie_category/slider_img2.jpg' %}" alt="about_img">
							</div>
							<div class="item">
								<img src="{% static 'images/content/movie_category/slider_img3.jpg' %}" alt="about_img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs mc slider wrapper End -->

	<!-- prs mc category slidebar Start -->
	<div class="prs_mc_category_sidebar_main_wrapper">
		<div class="container">
			<div class="row">
				{% get_genres_count %}
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<div class="prs_mcc_right_side_wrapper">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="prs_mcc_right_side_heading_wrapper">
									<h2>Our Top Movies</h2>
									<ul class="nav nav-pills">
										<li class="active"><a data-toggle="pill" href="#grid"><i class="fa fa-th-large"></i></a>
										</li>
										<li><a data-toggle="pill" href="#list"><i class="fa fa-list"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="tab-content">
									<div id="grid" class="tab-pane fade in active">
										<div class="row">
											{% for movie in all_movie_pages %}
												<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 prs_upcom_slide_first">
												<div class="prs_upcom_movie_box_wrapper prs_mcc_movie_box_wrapper">
													<div class="prs_upcom_movie_img_box">
														<img src="{{ movie.poster.url }}" alt="movie_img" />
														<div class="prs_upcom_movie_img_overlay"></div>
														<div class="prs_upcom_movie_img_btn_wrapper">
															<ul>
																<li><a class="test-popup-link button" href="{{ movie.trailer }}">View Trailer</a>
																</li>
																<li><a href="{% url 'movie:single' movie_slug=movie.slug %}">View Details</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="prs_upcom_movie_content_box">
														<div class="prs_upcom_movie_content_box_inner">
															<h2><a href="{% url 'movie:single' movie_slug=movie.slug %}">{{ movie.title|truncatewords:2 }}</a></h2>
															<p>Drama , Acaation</p>
															<h4>{% ratings movie template_name='movie/rating_list_page.html' %} <i class="fa fa-star"></i></h4>
														</div>
														<div class="prs_upcom_movie_content_box_inner_icon">
															<ul>
																<li>
																	<a href="movie_booking.html"><i class="fa fa-star-o"></i></a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="pager_wrapper gc_blog_pagination">
													<ul class="pagination">
														{% if all_movie_pages.has_previous %}
															<li>
																<a href="?page={{ all_movie_pages.previous_page_number }}"><i class="flaticon-left-arrow"></i></a>
															</li>
														{% endif %}

														{% for page_num in all_movie_pages.paginator.page_range %}
															{% if all_movie_pages.number == page_num %}
																<li class="page-in">
																	<a style="border-color:black; background-color:black; color:white;" href="?page={{ page_num }}">{{ page_num }}</a>
																</li>
															{% else %}
																<li>
																	<a href="?page={{ page_num }}">{{ page_num }}</a>
																</li>
															{% endif %}
														{% endfor %}

														{% if all_movie_pages.has_next %}
															<li>
																<a href="?page={{ all_movie_pages.next_page_number }}"><i class="flaticon-right-arrow"></i></a>
															</li>
														{% endif %}
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div id="list" class="tab-pane fade">
										<div class="row">
											{% for movie in all_movie_pages %}
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="prs_mcc_list_movie_main_wrapper">
													<div class="prs_mcc_list_movie_img_wrapper">
														<img src="{{ movie.poster.url }}" alt="categoty_img">
													</div>
													<div class="prs_mcc_list_movie_img_cont_wrapper">

														<div class="prs_mcc_list_left_cont_wrapper">
															<h2>{{ movie.title|truncatewords:5 }}</h2>

															<p>Drama , Acation  &nbsp;&nbsp;{% ratings movie template_name='movie/rating_list_page.html' %}  <i class="fa fa-star"></i></p>

															<h4>Movie Director - Jhon Doe</h4>
														</div>

														<div class="prs_mcc_list_right_cont_wrapper">
															<a href="#"><i class="fa fa-star-o"></i></a>
														</div>

														<div class="prs_mcc_list_bottom_cont_wrapper">
															<p>{{ movie.synopsis|truncatewords:25 }}</p>
															<ul>
																<li><a href="{{ movie.trailer }}">View Trailer</a>
																</li>
																<li><a href="{% url 'movie:single' movie_slug=movie.slug %}">View Details</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<div class="pager_wrapper gc_blog_pagination">
													<ul class="pagination">
														{% if all_movie_pages.has_previous %}
															<li>
																<a href="?page={{ all_movie_pages.previous_page_number }}"><i class="flaticon-left-arrow"></i></a>
															</li>
														{% endif %}

														{% for page_num in all_movie_pages.paginator.page_range %}
															{% if all_movie_pages.number == page_num %}
																<li>
																	<a style="border-color:black; background-color:black; color:white;" href="?page={{ page_num }}">{{ page_num }}</a>
																</li>
															{% else %}
																<li>
																	<a href="?page={{ page_num }}">{{ page_num }}</a>
																</li>
															{% endif %}
														{% endfor %}

														{% if all_movie_pages.has_next %}
															<li>
																<a href="?page={{ all_movie_pages.next_page_number }}"><i class="flaticon-right-arrow"></i></a>
															</li>
														{% endif %}
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs mc category slidebar End -->

{% endblock content %}
