
{% load static %}
{% load ratings %}
{% load movie_tags %}

<div class="prs_mcc_list_movie_main_wrapper">
    <div class="prs_mcc_list_movie_img_wrapper">
        <img src="{{ movie.poster.url }}" alt="categoty_img">
    </div>
    <div class="prs_mcc_list_movie_img_cont_wrapper">

        <div class="prs_mcc_list_left_cont_wrapper">
            <h2>
                <a href="{% url 'movie:single' movie_slug=movie.slug %}">
                    {{ movie.title|truncatewords:5 }}
                </a>
            </h2>

            <p>
                {% for genre in movie.genre.all %}
                    {{ genre.title|title }} {% if not forloop.last %},{% endif %}
                {% endfor %}
                &nbsp;&nbsp;
                {% for rate in movie.rating.all %}
                    {{ rate.average|floatformat:"1" }} <i class="fa fa-star"></i>
                {% endfor %}
            </p>

            <h4>
                Movie Director -
                {% for director in movie|director %}
                    {{ director }}
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </h4>
        </div>

        <div class="prs_mcc_list_right_cont_wrapper">
            <!-- Button trigger modal -->
            <a role="button" data-toggle="modal" data-target="#staticBackdrop{{ movie.slug }}">
                <i class="fa fa-star-o"></i>
            </a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop{{ movie.slug }}" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                   <div class="modal-header">
                      <h4 class="modal-title" id="staticBackdropLabel{{ movie.slug }}">{{ movie.title }}</h4>
                   </div>
                   <div class="modal-body">
                       {% if movie.release_date|upcoming %}
                            <h5 style="color: red;">The movie has not been released yet</h5>
                       {% else %}
                            {% ratings movie template_name='movie/movie_list_modal_rating.html' %}
                        {% endif %}
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                   </div>
               </div>
            </div>
        </div>

        <div class="prs_mcc_list_bottom_cont_wrapper">
            <p>{{ movie.synopsis|truncatewords:25 }}</p>
            <ul>
                <li><a class="test-popup-link button" href="{{ movie.trailer }}">View Trailer</a>
                </li>
                <li><a href="{% url 'movie:single' movie_slug=movie.slug %}">View Details</a>
                </li>
            </ul>
        </div>
    </div>
</div>
