
{% load static %}

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
    <div class="prs_mcc_left_side_wrapper">
        {% include 'movie/movie_search_with_genre.html' %}
        <div class="prs_mcc_bro_title_wrapper">
            <h2>browse genre</h2>
            <ul>
                <li>
                    <i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="{% url 'movie:list' %}">All <span>{{ all_movie_count }}</span></a>
                </li>

                {% for genre in movies_genres_count %}
                    <li>
                        <i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;
                        <a href="{% url 'movie:genre' genre_slug=genre.slug %}">
                            {{ genre.title|title }} <span>{{ genre.movie_count }}</span>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>

        <div class="prs_mcc_event_title_wrapper">
            <h2>Top Events</h2>
            <img src="{{ upcoming_movie.poster.url }}" alt="event_img">
            <h3>
                <a href="{% url 'movie:single' movie_slug=upcoming_movie.slug %}">
                    {{ upcoming_movie.title }}
                </a>
            </h3>
            <p>
                {% for genre in upcoming_movie.genre.all %}
                    {% if forloop.counter == 3 %}
                        {{ genre.title|truncatechars:4 }}
                    {% elif not forloop.last %}
                        {{ genre.title|title }},
                    {% else %}
                        {{ genre.title|title }}
                    {% endif %}
                {% endfor %}
                <span>
                    <i class="fa fa-star"></i>
                </span>
            </p>
            <h4>
                {{ upcoming_movie.release_date|date:'M d'}}
                <span>08:00-12:00 pm</span>
            </h4>
        </div>
    </div>
</div>
