
{% load static %}

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
    <div class="prs_mcc_left_side_wrapper">
        <div class="prs_mcc_left_searchbar_wrapper">
            <input type="text" placeholder="Search Movie">
            <button><i class="flaticon-tool"></i>
            </button>
        </div>
        <div class="prs_mcc_bro_title_wrapper">
            <h2>browse title</h2>
            <ul>
                <li>
                    <i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="#">All <span>{{ all_movie_count }}</span></a>
                </li>

                {% for genre in movies_genres_count %}
                    <li>
                        <i class="fa fa-caret-right"></i> &nbsp;&nbsp;&nbsp;<a href="#">{{ genre.title|title }} <span>{{ genre.movie_count }}</span></a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="prs_mcc_event_title_wrapper">
            <h2>Top Events</h2>
            <img src="{% static 'images/content/movie_category/event_img.jpg' %}" alt="event_img">
            <h3><a href="#">Music Event in india</a></h3>
            <p>Pune <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i
                    class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span>
            </p>
            <h4>June 07 <span>08:00-12:00 pm</span></h4>
        </div>
    </div>
</div>
